@import url("main.css");


:root {
    --color-lilac: #F6F7FB;
    --color-chambray: #334680;
    --color-heather: #B9BDCF;
    --color-white: #FFFFFF;
    --color-black: #1e1e1e;
    --color-dodgerBlue: #1E86FF;
    --color-steelgray: #282538; 
    --color-silver : #BDBDBD;
    --color-concrete : #F2F2F2;
    --color-tundora : #464646;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Poppins font */
@font-face {
    font-family: poppins;
    font-weight: 100;
    src: url("../fonts/Poppins/Poppins-Thin.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-ThinItalic.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 200;
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 300;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 400;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 500;
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 500;
    font-style: italics;
    src: url("../fonts/Poppins/Poppins-MediumItalic.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 600;
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 700;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-BoldItalic.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 800;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 900;
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Poppins/Poppins-BlackItalic.ttf");
}



/* Roboto font */
@font-face {
    font-family: Roboto;
    font-weight: 100;
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 200;
    src: url("../fonts/Roboto/Roboto-ExtraLight.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Roboto/Roboto-ExtraLight.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: italics;
    src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: poppins;
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 900;
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
